footer{
    height: 5.15rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: top;
    border-top: 2px solid var(--color-primario);
    padding-top: 1rem;
}

footer img{
    width: 12.5rem;
    height: 3rem;
}